// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$white: #ffffff;
$gray00: #d9dbdf;
$gray10: #b3b7bf;
$gray20: #8c949e;
$gray30: #66707e;
$gray40: #404c5e;
$gray50: #323d4b;
$gray60: #252d39;
$gray70: #171e26;
$black: #000000;
$yellow_5: #d9dba2;
$yellow_10: #e5d3a0;
$yellow_20: #e2bf70;

$stat_red: #cd1821;
$stat_orange: #ff6d24;
$stat_yellow: #ffff00;
$stat30_green: #00b51a;

$Green: #0ce67b;
$Olive: #cac614;
$Liebherr: #fdc400;
$Azure: #00c2f3;
$Blue: #1489ca;
$Marine: #1f437e;
$Background: #2e3745;

$GreenDark: #0cbf61;
$OliveDark: #aba711;
$LiebherrDark: #e5a310;
$AzureDark: #00a6cc;
$BlueDark: #1374a5;

// $colorMatOther:#D9DBDF;
// $colorAggregate:#FF6200;
// $colorCement:#00B51A;
// $colorWater:#00A6CC;
// $colorAdmixture:#ae0001;
// $colorPigment:#AE3636;
// $colorReinforcement:#C10A50;
